@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*Background attached stop body*/
body {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    background-image: url('../images/Login-Design-background.png') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

 
/*Box shadow for cards*/
.card {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*Change background color of card to offwhite*/
.card-body {
    background-color: #FEFFFF;
}

/*Card button template to route songs*/
.card-link {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: #f1f1f1;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 35px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.30);

}

/*Hover animation for buttons*/
.card-link:hover {
    opacity: 0.7;
    color: #f1f1f1;
}

/*Artist Name styles*/
.card-title {
    color: #222;
    text-shadow: 0px 0px 2px #555;
    font-size: 18px;
    padding-bottom: 10px;
}

/*Artist Date Release Styling*/
.card-text {
    text-shadow: 0px -1px 0px rgba(255,255,255,0.3), 0px 1px 0px rgba(0,0,0,0.8);
    color: #333;
    opacity: 0.4;
    padding-bottom: 10px;
    font-size: 15px;
}

/*Artist Song name styling*/
.card-subtitle {
    font-size: 16px;
}

/*TEst*/


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    text-align: center;
}


#sidebar {
    min-width: 200px;
    max-width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -200px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px 10px;
    border-bottom: 1px solid #000000;
}

#sidebar ul p{
    color: #fff;
    padding: 10px;
}

#sidebar ul li a i {
    padding: 15px;
    font-size: 47px;
    display: block;
    color: #fff;
}

#sidebar ul li a i:hover {
    color: #993366;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
#sidebar h2 {
    padding-top: 15px;
    color: white;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50px;
    
}

ul.CTAs a {
    text-align: center;
    font-size: 50px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 200px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 200px);
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
    ul.CTAs {
        margin-top: 20.0em !important;
        margin-bottom: 0;
    }
}
